# Assignment 4

In [289]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException   #Importing Exceptions
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [290]:
page= requests.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
page

In [291]:
#lets make a instance of the BeautifulSoup
soup=BeautifulSoup(page.content)

In [292]:
# get the response in the form of html
wikiurl='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [293]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
moviestable=soup.find('table',{'class':"wikitable"})

In [294]:
df=pd.read_html(str(moviestable))
# convert list to dataframe
df=pd.DataFrame(df[0])

In [295]:
df.drop(['Note','Unnamed: 6'],axis=1,inplace=True)

In [296]:
df

,Rank,Video name,Uploader,Views,Upload date
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9453134982,"June 17, 2016"
1,2,"""Despacito""[25]",Luis Fonsi,7572747360,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5781348353,"October 8, 2016"
3,4,"""Shape of You""[27]",Ed Sheeran,5483427541,"January 30, 2017"
4,5,"""See You Again""[28]",Wiz Khalifa,5284905560,"April 6, 2015"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4549294432,"May 2, 2018"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"4,513,879,675 (as of Sep 29, 2021)","February 27, 2018"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4461096975,"January 31, 2012"
8,9,"""Uptown Funk""[34]",Mark Ronson,4319159452,"November 19, 2014"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,4220180419,"March 6, 2014"
10,11,"""Gangnam Style""[36]",Psy,4211421413,"July 15, 2012"
11,12,"""Dame Tu Cosita""[38]",El Chombo,3633337215,"April 5, 2018"
12,13,"""Sugar""[39]",Maroon 5,3565906701,"January 14, 2015"
13,14,"""Sorry""[40]",Justin Bieber,3474094697,"October 22, 2015"
14,15,"""Roar""[41]",Katy Perry,3444786615,"September 5, 2013"
15,16,"""Counting Stars""[42]",OneRepublic,3412577920,"May 31, 2013"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,3337279340,"October 7, 2014"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3291808512,"May 24, 2018"
18,19,"""Dark Horse""[45]",Katy Perry,3155611442,"February 20, 2014"
19,20,"""Faded""[46]",Alan Walker,3155489927,"December 3, 2015"
20,21,"""Girls Like You""[47]",Maroon 5,3143116042,"May 31, 2018"
21,22,"""Lean On""[48]",Major Lazer,3105926931,"March 22, 2015"
22,23,"""Bailando""[49]",Enrique Iglesias,3105539316,"April 11, 2014"
23,24,"""Shake It Off""[50]",Taylor Swift,3104230107,"August 18, 2014"
24,25,"""Let Her Go""[51]",Passenger,3090217295,"July 25, 2012"
25,26,"""Axel F""[52]",Crazy Frog,3035828739,"June 17, 2009"
26,27,"""Mi Gente""[53]",J Balvin,2986493839,"June 29, 2017"
27,28,"""Perfect""[54]",Ed Sheeran,2974982274,"November 9, 2017"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,2962613841,"June 4, 2010"
29,30,"""Hello""[56]",Adele,2889107727,"October 23, 2015"
30,"As of October 10, 2021","As of October 10, 2021","As of October 10, 2021","As of October 10, 2021","As of October 10, 2021"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [339]:
driver=webdriver.Chrome("chromedriver.exe")

In [340]:
url='https://www.bcci.tv/'
driver.get(url)

In [341]:
#navigation__drop-down drop-down drop-down--reveal-on-hov
path1=driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]')

In [342]:
path=path1.get_attribute('href')

In [343]:
driver.get(path)

In [346]:
search_btn=driver.find_element_by_xpath('//*[@id="TestAlexFilter"]')
search_btn.click()

In [348]:
search_btn=driver.find_element_by_xpath('//*[@id="TestAlexFilter"]/div/ul/li[3]')
search_btn.click()

In [349]:
match_title=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
Match_titles=[]
for i in match_title:
    Match_titles.append(i.text)
len(Match_titles)

9

In [350]:
series=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
Series=[]
for i in series:
    Series.append(i.text)
len(Series)

9

In [351]:
place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
Place=[]
for i in place:
    Place.append(i.text)
len(Place)

9

In [352]:
date=driver.find_elements_by_xpath('//div[@class="fixture__full-date"][1]')
Date=[]
for i in date:
    Date.append(i.text.replace("\n","-"))
len(Date)

9

In [355]:
time=driver.find_elements_by_xpath('//span[@class="fixture__time"]')
Time=[]
for i in time:
    Time.append(i.text.replace("\n","-"))
len(Time)

9

In [356]:
df1=pd.DataFrame({})
df1['Match title']=Match_titles
df1['Series']=Series
df1['Place']=Place
df1['Date & Time']=Date
df1['Time']=Time
df1

,Match title,Series,Place,Date & Time,Time
0,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11-JANUARY-14:00 IST,14:00 IST
1,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14-JANUARY-14:00 IST,14:00 IST
2,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16-JANUARY-14:00 IST,14:00 IST
3,1st ODI,INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",06-FEBRUARY-13:00 IST,13:00 IST
4,2nd ODI,INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",09-FEBRUARY-13:00 IST,13:00 IST
5,3rd ODI,INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",12-FEBRUARY-13:00 IST,13:00 IST
6,1st ODI,ENGLAND V INDIA 2022,"Edgbaston, Birmingham",09-JULY-15:30 IST,15:30 IST
7,2nd ODI,ENGLAND V INDIA 2022,"The Oval, London",12-JULY-17:30 IST,17:30 IST
8,3rd ODI,ENGLAND V INDIA 2022,"Lord's, London",14-JULY-17:30 IST,17:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [305]:
driver=webdriver.Chrome("chromedriver.exe")

In [306]:
url='https://www.guru99.com/'
driver.get(url)

In [307]:
search_field=driver.find_element_by_xpath('//*[@id="gsc-i-id1"]')

In [308]:
search_field.send_keys(input("Search Results for :-"))
search_btn=driver.find_element_by_xpath('//button[@class="gsc-search-button gsc-search-button-v2"]')

search_btn.click()
#Selenium Exception Handling

Search Results for :-Selenium Exception Handling

In [309]:
#navigation__drop-down drop-down drop-down--reveal-on-hov
path1=driver.find_element_by_xpath('//*[@id="___gcse_0"]/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')

In [310]:
path=path1.get_attribute('href')

In [311]:
driver.get(path)

In [312]:
name=driver.find_element_by_xpath('//h1[@class="entry-title"]')
Name=name.text

In [313]:
discription=driver.find_elements_by_tag_name('p')

In [314]:
discription1=[]
for i in discription:
    discription1.append(i.text)

In [315]:
Discription=[]
for i in range(0,2):
    Discription.append(discription1[i].strip())

In [316]:
Name

'Selenium Exception Handling (Common Exceptions List)'

In [317]:
Discription

['An exception is an error that happens at the time of execution of a program. However, while running a program, programming languages generates an exception that should be handled to avoid your program to crash.',
 'The exception indicates that, although the event can occur, this type of event happens infrequently. When the method is not able to handle the Exception, it is thrown to its caller function. Eventually, when an exception is thrown out of the main function, the program is terminated abruptly.']

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [318]:
page= requests.get('https://statisticstimes.com/')
page

In [319]:
driver=webdriver.Chrome("chromedriver.exe")

In [320]:
url='https://statisticstimes.com/'
driver.get(url)

In [321]:
path1=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')

In [322]:
path=path1.get_attribute('href')
driver.get(path)

In [323]:
path2=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')

In [324]:
path=path2.get_attribute('href')
driver.get(path)

In [325]:
# get the response in the form of html
statisticstime='https://statisticstimes.com/economy/india/indian-states-gdp.php'
table_class="display dataTable"
response=requests.get(statisticstime)
print(response.status_code)

200

In [326]:
soup = BeautifulSoup(response.text, 'html.parser')
GDP_table=soup.find('table',{'class':"display"})

In [327]:
df=pd.read_html(str(GDP_table))
# convert list to dataframe
df=pd.DataFrame(df[0])

In [328]:
df

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.94%        399.921                               -   2039074
1    8.63%        247.629                         1312929   1215307
2    8.39%        240.726                         1166817   1123982
3    7.96%        228.290                               -   1186379
4    7.91%        226.806                         1156039   1091077
5    5.77%        165.556                          793223    739525
6    4.99%        143.179                          711627    677428
7    4.57%        131.083                          672018    621301
8    4.56%        130.791                          663258    612828
9    4.29%        122.977                          561801    522009
10   4.14%        118.733                               -    559412
11   4.10%        117.703                          634408    590569
12   3.89%        111.519                          572240    531085
13   2.81%         80.562                          414977    375651
14   2.79%         79.957                          418868    397669
15   2.58%         74.098                          396499    376877
16   1.67%         47.982                               -    234048
17   1.61%         46.187                          243477    231182
18   1.57%         45.145                          240036    224986
19   1.30%         37.351                               -    193273
20   0.83%         23.690                               -    112755
21   0.81%         23.369                          124403    117851
22   0.39%         11.115                           63408     57787
23   0.26%          7.571                           40583     36963
24   0.22%          6.397                               -     31192
25   0.18%          5.230                           25093     23013
26   0.18%          5.086                           26695     24682
27   0.15%          4.363                           20017     18722
28   0.15%          4.233                           20673     19300
29   0.14%          4.144                               -     17647
30   0.13%          3.737                               -     16676
31   0.12%          3.385                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14569268  14003316

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [144]:
driver=webdriver.Chrome("chromedriver.exe")

In [145]:
url='https://github.com/'
driver.get(url)

In [146]:
path1=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')

In [147]:
path=path1.get_attribute('href')
driver.get(path)
#we select the spoken language to english

In [148]:
Url_links=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')


Urls=[]

for i in Url_links:
    Urls.append(i.get_attribute("href"))
    
len(Urls)

25

In [155]:
Contributors_counts=[]
contributors_count=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')
for i in contributors_count:
    Contributors_counts.append(i.text.replace("\n"," "))

Counts=[]
for i in range(1,len(Contributors_counts),2):
    Counts.append(Contributors_counts[i].strip())
len(Counts)

25

In [139]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Lang=[]

for i in Urls:
    driver.get(i)
    time.sleep(3)    
    
    #fetching Details from each urls..
    try:
        repository_title=driver.find_element_by_xpath('//a[@class="url fn"]')
        Repository_title.append(repository_title.text.replace("/n","new line"))
    except:
        Repository_title.append("-")


    try:
        repository_description=driver.find_element_by_xpath('//article[@class="markdown-body entry-content container-lg"]')
        Repository_description.append(repository_description.text.replace("\n","new line"))
    except:
        Repository_description.append("-") 
        
        
    
    try:
        language_used=driver.find_element_by_xpath('//a[@class="d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3"]//span')
        Lang.append(language_used.text.replace("\n"," "))
    except:
        Lang.append('-')
    
        
print(len(Repository_title))        
print(len(Repository_description))
print(len(Lang))

25
25
25

In [156]:
df1=pd.DataFrame({})
df1['Repository_title']=Repository_title
df1['Repository_description']=Repository_description
df1['Contributors_counts']=Counts
df1['Lang']=Lang
df1

,Repository_title,Repository_description,Contributors_counts,Lang
0,peng-zhihui,Dummy-Robotnew line我的超迷你机械臂机器人项目。new line资料待整理...,388,-
1,xinntao,Real-ESRGANnew lineColab Demo for Real-ESRGAN ...,369,Python
2,ckosmic,sm64ex-iosnew lineFork of sm64pc/sm64ex ported...,12,C
3,ethereum,👋 Welcome to ethereum.org!new lineThis is the ...,"1,470",JavaScript
4,WebDevSimplified,Getting Started with Create React Appnew lineT...,130,JavaScript
5,trailofbits,Algo VPNnew lineAlgo VPN is a set of Ansible s...,"1,921",Python
6,trekhleb,Promote Your Next Startupnew lineFree web-reso...,116,-
7,sdras,Awesome Actionsnew lineA curated list of aweso...,"1,008",-
8,cobaltdisco,中文搜索结果黑名单new line垃圾站点出现在 Google、百度的中文搜索结果中，实在是...,157,-
9,peng-zhihui,[L-ink]电子墨水屏NFC智能卡片new line这是为了解决个人使用IC卡时遇到的一些...,"1,384",C
10,iptv-org,IPTVnew lineCollection of publicly available I...,"3,602",JavaScript
11,peng-zhihui,-,115,HTML
12,valinet,Explorer Patcher for Windows 11new lineThis pr...,21,C
13,openwrt,OpenWrt Project is a Linux operating system ta...,"6,302",C
14,zeromicro,go-zeronew lineEnglish | 简体中文new lineNote: To ...,"1,387",Go
15,ethereum,Ethereum Improvement Proposals (EIPs)new lineE...,"2,840",Solidity
16,bitcoin,Bitcoin Core integration/staging treenew lineh...,"30,136",C++
17,github,GitHub Docsnew lineThis repository contains th...,"27,590",JavaScript
18,goplus,"The Go+ language for engineering, STEM educati...",402,Go
19,jklepatch,EaTheBlocksnew lineBlockchain tutorials of Eat...,"1,849",JavaScript
20,filecoin-project,Project Lotus - 莲new linenew lineLotus is an i...,894,Go
21,bevyengine,What is Bevy?new lineBevy is a refreshingly si...,950,Rust
22,NationalSecurityAgency,Ghidra Software Reverse Engineering Frameworkn...,"3,806",Java
23,golang,The Go Programming Languagenew lineGo is an op...,"13,397",Go
24,raimohanska,An online whiteboard.new lineFeel free to try ...,13,TypeScript

# 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [329]:
driver=webdriver.Chrome("chromedriver.exe")

In [330]:
url='https://www.billboard.com/'
driver.get(url)

In [331]:
path1=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a')
path=path1.get_attribute('href')
driver.get(path)

In [332]:
song_name=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
Song_name=[]
for i in song_name:
    Song_name.append(i.text)
len(Song_name)

100

In [333]:
artist_name=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
Artist_name=[]
for i in artist_name:
    Artist_name.append(i.text)
len(Artist_name)

100

In [334]:
last_week_rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
Last_week_rank=[]
for i in last_week_rank:
    Last_week_rank.append(i.text)
len(Last_week_rank)

100

In [335]:
peak_rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
Peak_rank=[]
for i in peak_rank:
    Peak_rank.append(i.text)
len(Peak_rank)

100

In [336]:
weeks_on_board=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
Weeks_on_board=[]
for i in weeks_on_board:
    Weeks_on_board.append(i.text)
len(Weeks_on_board)

100

In [337]:
df1=pd.DataFrame({})
df1['Song_name']=Song_name
df1['Artist_name']=Artist_name
df1['Last_week_rank']=Last_week_rank
df1['Peak_rank']=Peak_rank
df1['Weeks_on_board']=Weeks_on_board
df1

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [245]:
driver=webdriver.Chrome("chromedriver.exe")

In [247]:
url='https://www.naukri.com/data-science-recruiters'
driver.get(url)

In [248]:
Url_links=driver.find_elements_by_xpath('//a[@class="ellipsis"]')


Urls=[]

for i in Url_links:
    Urls.append(i.get_attribute("href"))
    
len(Urls)

100

In [279]:
Name=[]
Designation=[]
Skills=[]
Company=[]
Location=[]
for i in Urls:
    driver.get(i)
    time.sleep(3)    
    
    #fetching Details from each urls..
    try:
        name=driver.find_element_by_xpath('//span[@class="fl ellipsis"]')
        Name.append(name.text.replace("/n","new line"))
    except:
        Name.append("-")
        
    try:
        designation=driver.find_element_by_xpath('//span[@class="ellipsis clr"]')
        Designation.append(designation.text.replace("\n","new line"))
    except:
        Designation.append("-")     
     
    try:
        skills=driver.find_element_by_xpath('//div[@class="hireSec highlightable"]')
        Skills.append(skills.text.replace("\n","new line"))
    except:
        Skills.append("-") 
        
        
        
    try:
        company=driver.find_element_by_xpath('(//a[@class="ellipsis"])[2]')
        Company.append(company.text.replace("\n","new line"))
    except:
        Company.append("-")
        
        
        
    try:
        location=driver.find_element_by_xpath('//small[@class="ellipsis"]')
        Location.append(location.text.replace("\n","new line"))
    except:
        Location.append("-")

In [288]:
print(len(Name))
print(len(Designation))
print(len(Skills))
print(len(Company))
print(len(Location))
print(len(Urls))
df1=pd.DataFrame({})
df1['Name']=Name
df1['Designation']=Designation
df1['Skills']=Skills
df1['Company']=Company
df1['Location']=Location
df1['Urls']=Urls
df1

100
100
100
100
100
100

,Name,Designation,Skills,Company,Location,Urls
0,Harish Kumar,Human Resources,-,-,ABC Consultants,https://www.naukri.com/recruiters/aakashharit-...
1,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network,Delhi,https://www.naukri.com/data-science-network-re...
2,-,-,-,-,-,https://www.naukri.com/recruiters/shravankumar...
3,Geetha,Company HR,Not Specified,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,https://www.naukri.com/shore-infotech-india-pv...
4,Poonam,HR Executive,-,-,Develop Dreamz Industries pvt ltd. Pune,https://www.naukri.com/recruiters/marsiantech?...
...,...,...,...,...,...,...
95,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",WildJasmine,Bengaluru / Bangalore,https://www.naukri.com/wildjasmine-recruiters?...
96,-,-,-,-,-,https://www.naukri.com/recruiters/rohitkumar-3...
97,ROHIT Kumar,Architect,"Software Development, Core Java, Unit Testing,...",LNT Private Limited,Mumbai,https://www.naukri.com/lnt-private-limited-rec...
98,Ritu Malik,Talent Acquisition Associate,-,-,Evalueserve.com Private Limited,https://www.naukri.com/recruiters/amirchowdhur...
99,Ujwal Dutta,HR Recruiter,Not Specified,Granular.ai,Bengaluru / Bangalore,https://www.naukri.com/granular-dot-ai-recruit...

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [ ]:
#https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [235]:
# get the response in the form of html
the_guardian='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
table_class="in-article sortable"
response=requests.get(the_guardian)
print(response.status_code)

200

In [240]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
best_novel_table=soup.find('table',{'class':"in-article sortable"})

In [244]:
df=pd.read_html(str(best_novel_table))
# convert list to dataframe
df=pd.DataFrame(df[0])
df=df[0:100]
df

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [159]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [160]:
name=driver.find_elements_by_xpath('//span[@class="lister-item-index unbold text-primary"]')
Name=[]
for i in name:
    Name.append(i.text)
len(Name)

100

In [161]:
year=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
Year=[]
for i in year:
    Year.append(i.text)
len(Year)

100

In [162]:
genre=driver.find_elements_by_xpath('//span[@class="genre"]')
Genre=[]
for i in genre:
    Genre.append(i.text)
len(Genre)

100

In [163]:
time=driver.find_elements_by_xpath('//span[@class="runtime"]')
Time=[]
for i in time:
    Time.append(i.text)
len(Time)

100

In [166]:
ratings=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
Ratings=[]
for i in  ratings:
     Ratings.append(i.text)
len( Ratings)

100

In [167]:
vote=driver.find_elements_by_name('nv')
Votes=[]
for i in  vote:
     Votes.append(i.text)
len(Votes)

100

In [171]:
df1=pd.DataFrame({})
df1['Name']=Name
df1['Year']=Year
df1['Genre']=Genre
df1['Time']=Time
df1['Ratings']=Ratings
df1['Votes']=Votes
df1

    Name         Year                     Genre     Time Ratings      Votes
0     1.  (2011–2019)  Action, Adventure, Drama   57 min     9.2  1,882,733
1     2.     (2016– )    Drama, Fantasy, Horror   51 min     8.7    916,101
2     3.  (2010–2022)   Drama, Horror, Thriller   44 min     8.2    904,457
3     4.  (2017–2020)  Drama, Mystery, Thriller   60 min     7.5    270,948
4     5.  (2014–2020)    Drama, Mystery, Sci-Fi   43 min     7.6    231,326
..   ...          ...                       ...      ...     ...        ...
95   96.  (2013–2017)            Drama, Fantasy   42 min     7.5     45,903
96   97.  (2017–2019)  Adventure, Comedy, Drama   50 min     7.8     56,777
97   98.  (2005–2020)     Crime, Drama, Mystery   42 min     8.1    177,368
98   99.  (2015–2019)      Comedy, Crime, Drama   45 min     7.1     36,894
99  100.       (2018)    Drama, Horror, Mystery  572 min     8.6    203,801

[100 rows x 6 columns]

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [196]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

In [197]:
path1=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
path1

In [198]:
path=path1.get_attribute('href')
path

'https://archive.ics.uci.edu/ml/datasets.php'

In [199]:
driver.get(path)

In [200]:
name=driver.find_elements_by_xpath('//p[@class="normal"]')
Name=[]
for i in name:
    Name.append(i.text)
len(Name)

4126

In [225]:
#8
Dataset_name=[]
for i in range(8,len(Name),7):
    Dataset_name.append(Name[i].strip())
Dataset_name=Dataset_name[0:588]
len(Dataset_name)

588

In [226]:
Data_type=[]
for i in range(9,len(Name),7):
    Data_type.append(Name[i].strip())
Data_type=Data_type[0:588]
len(Data_type)

588

In [227]:
Type=[]
for i in range(10,len(Name),7):
    Type.append(Name[i].strip())
len(Type)

588

In [228]:
Attribute_type=[]
for i in range(11,len(Name),7):
    Attribute_type.append(Name[i].strip())
len(Attribute_type)

588

In [229]:
No_of_instances=[]
for i in range(12,len(Name),7):
    No_of_instances.append(Name[i].strip())
len(No_of_instances)

588

In [230]:
No_of_attribute=[]
for i in range(13,len(Name),7):
    No_of_attribute.append(Name[i].strip())
len(No_of_attribute)

588

In [231]:
Year=[]
for i in range(14,len(Name),7):
     Year.append(Name[i].strip())
len( Year)

588

In [232]:
df1=pd.DataFrame({})
df1['Dataset_name']=Dataset_name
df1['Data_type']=Data_type
df1['Type']=Type
df1['Attribute_type']=Attribute_type
df1['No_of_instances']=No_of_instances
df1['No_of_attribute']=No_of_attribute
df1['Year']=Year

df1

,Dataset_name,Data_type,Type,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021