#### WEB-SCRAPPING(SELENIUM)

In [110]:
#pip install selenium

In [1]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [156]:
#lets first connect to the web driver
#driver=webdriver.Chrome(r"C:\Users\kunal's\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [157]:
#aur we can call driver from 
#jupitor home just upload the application in jupitor home and then call from here

In [367]:
driver=webdriver.Chrome("chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [368]:
url='https://www.naukri.com/'
driver.get(url)

In [369]:
#using id function
#search_job=driver.find_element_by_id('qsb-keyword-sugg')
#search_job

In [370]:
#search_job.send_keys("Data Analyst")
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [371]:
#write on search bar
search_job.send_keys("Data Analyst")

In [372]:
#finding element for job location bar
search_loc=driver.find_element_by_xpath('//input[@name="location"]')
search_loc

In [373]:
search_loc.send_keys("Bangalore")

In [374]:
#do click on xpath functiom
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')

In [375]:
search_btn.click()

Now lets create 4 empty list for titles.

In [376]:
#so lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [377]:
#now the text form the job title inside the text extracted above
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

job_title=[]
for i in titles_tags:
    job_title.append(i.text)
job_title

['Senior Data Analyst',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'SENIOR DATA ANALYST',
 'Executive Data Analyst',
 'Senior Data Analyst IN4',
 'Analyst & Designer - Software - Data Analysis',
 'Data Analyst - I/II',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

# we do same for the company name,salary,and expericed required
Now we will extract al the html tags where we have the company names.

In [378]:
companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [379]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Companies_tags=[]
for i in companies_tags:
    Companies_tags.append(i.text)
Companies_tags

['Gaussian Networks Private Limited',
 'Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Virtusa Consulting Services Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'McAfee Software (India) Pvt. Ltd',
 'Gokaldas Exports Ltd',
 'Walmart Labs',
 'HyreFox Consultants Pvt Ltd',
 'Philips India Limited',
 'AECOM India Private Limited',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'Empower Retirement',
 'Flipkart',
 'Flipkart']

In [381]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
#loc_tags

In [382]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Loc_tags=[]
for i in loc_tags:
    Loc_tags.append(i.text)
Loc_tags

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

Now we will extract al the html tags where we have the Experience.

In [383]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
#experience_tags

In [384]:
Experience_tags=[]
for i in experience_tags:
    Experience_tags.append(i.text)
Experience_tags

['3-5 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '6-8 Yrs',
 '0-3 Yrs',
 '8-10 Yrs',
 '5-7 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs']

Now we will extract al the html tags where we have the Salary.

In [385]:
salary_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
#salary_tags

In [386]:
Salary_tags=[]
for i in salary_tags:
    Salary_tags.append(i.text)
Salary_tags

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [387]:
print(len(job_title),len(Companies_tags),len(Loc_tags),len(Salary_tags),len(Experience_tags))

20 20 20 20 20

lets make the dataframe from the above data

In [388]:
import pandas as pd

In [389]:
df=pd.DataFrame({})
df['Job_title']=job_title
df['Loc_tags']=Loc_tags
df['Companies_tags']=Companies_tags
df['Experience_tags']=Experience_tags
df['Salary_tags']=Salary_tags
df.head(10)

,Job_title,Loc_tags,Companies_tags,Experience_tags,Salary_tags
0,Senior Data Analyst,"Gurgaon/Gurugram, Bangalore/Bengaluru",Gaussian Networks Private Limited,3-5 Yrs,Not disclosed
1,Tcs Hiring For Senior Data Analyst (bfsi domain),"Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,6-11 Yrs,Not disclosed
2,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,5-10 Yrs,Not disclosed
3,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,5-10 Yrs,Not disclosed
4,Business Data Analyst - Google Data Studio & SQL,Bangalore/Bengaluru,AVE-Promagne,3-8 Yrs,Not disclosed
5,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd,8-12 Yrs,Not disclosed
6,Tcs Hiring For MDM (master data management) Da...,"Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,6-11 Yrs,Not disclosed
7,Senior Data Analyst IDAM Services,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Not disclosed
8,Data Analyst/Sr.Data Engineer,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"10,00,000 - 20,00,000 PA."
9,SENIOR DATA ANALYST,Bangalore/Bengaluru,McAfee Software (India) Pvt. Ltd,6-8 Yrs,Not disclosed

Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.


Note-


1. All of the above steps have to be done in code. No step is to be done 
manuall.


2.2.Please note that you have to scrape full job description. For that you may have to 
open each job separately as shown below.

In [390]:
url='https://www.naukri.com/'
driver.get(url)

In [391]:
#search_job.send_keys("Data Analyst")
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [392]:
#write on search bar
search_job.send_keys("Data Scientist")

In [393]:
#finding element for job location bar
search_loc=driver.find_element_by_xpath('//input[@name="location"]')
search_loc

In [394]:
search_loc.send_keys("Bangalore")

In [395]:
#do click on xpath functiom
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')

In [396]:
search_btn.click()

Now lets create 4 empty list for titles.

In [397]:
#so lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
#titles_tags

In [398]:
#now the text form the job title inside the text extracted above
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

job_title=[]
for i in titles_tags:
    job_title.append(i.text)
job_title

['Hiring For Data Scientist',
 'Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist - I / II',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist IN4',
 'Senior Data Scientist (Marketplace)',
 'Hiring For Manager and Sr. Manager | Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist- Senior Business Analyst/Lead Analyst']

# we do same for the company name,salary,and expericed required
Now we will extract al the html tags where we have the company names.

In [399]:
companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
#companies_tags

In [400]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Companies_tags=[]
for i in companies_tags:
    Companies_tags.append(i.text)
Companies_tags

['Tata Consultancy Services Ltd.',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'Brillio',
 'Sharechat',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'Airbnb',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'Walmart Labs',
 'Walmart Labs',
 'Vision Beyond Resources India Private Limited',
 'CRISIL LIMITED',
 'AVE-Promagne',
 'Wrackle Technologies Pvt Ltd',
 'Evalueserve.com Pvt. Ltd']

In [401]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
#loc_tags

In [402]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Loc_tags=[]
for i in loc_tags:
    Loc_tags.append(i.text)
Loc_tags

['Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, New Delhi, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

Now we will extract al the html tags where we have the Experience.

In [403]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
#experience_tags

In [404]:
Experience_tags=[]
for i in experience_tags:
    Experience_tags.append(i.text)
Experience_tags

['3-8 Yrs',
 '5-9 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '2-3 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '3-7 Yrs',
 '6-10 Yrs',
 '7-12 Yrs',
 '6-8 Yrs',
 '6-8 Yrs',
 '5-10 Yrs',
 '7-10 Yrs',
 '4-8 Yrs',
 '8-13 Yrs',
 '2-6 Yrs',
 '6-8 Yrs',
 '6-11 Yrs',
 '2-7 Yrs']

Now we will extract al the html tags where we have the Salary.

In [405]:
salary_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
#salary_tags

In [406]:
Salary_tags=[]
for i in salary_tags:
    Salary_tags.append(i.text)
Salary_tags

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '20,00,000 - 35,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [407]:
print(len(job_title),len(Companies_tags),len(Loc_tags),len(Salary_tags),len(Experience_tags))

20 20 20 20 20

In [408]:
df=pd.DataFrame({})
df['Job_title']=job_title
df['Loc_tags']=Loc_tags
df['Companies_tags']=Companies_tags
df['Experience_tags']=Experience_tags
df['Salary_tags']=Salary_tags
df.head(10)

,Job_title,Loc_tags,Companies_tags,Experience_tags,Salary_tags
0,Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Area...",Tata Consultancy Services Ltd.,3-8 Yrs,Not disclosed
1,Lead Data Scientist BFSI,Bengaluru/Bangalore,IBM India Pvt. Limited,5-9 Yrs,Not disclosed
2,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,3-5 Yrs,Not disclosed
3,Data Scientist,Bangalore/Bengaluru,Brillio,3-8 Yrs,Not disclosed
4,Data Scientist - I / II,Bangalore/Bengaluru,Sharechat,2-3 Yrs,Not disclosed
5,Data Scientist,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,4-8 Yrs,Not disclosed
6,Data Scientist,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,4-8 Yrs,Not disclosed
7,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,3-7 Yrs,Not disclosed
8,Senior Data Scientist,Bangalore/Bengaluru,Walmart Labs,6-10 Yrs,Not disclosed
9,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,7-12 Yrs,Not disclosed

# 2.2.Please note that you have to scrape full job description. For that you may have to open each job separately as shown below.

In [409]:
url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
#url

In [410]:
Url=[]
for i in url:
    Url.append(i.get_attribute('href'))
Url

['https://www.naukri.com/job-listings-hiring-for-data-scientist-tata-consultancy-services-chennai-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-110921000464?src=jobsearchDesk&sid=16315433099957255&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16315433099957255&xp=2&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16315433099957255&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-brillio-technologies-pvt-ltd-bangalore-bengaluru-3-to-8-years-130921905402?src=jobsearchDesk&sid=16315433099957255&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-i-ii-sharechat-bangalore-bengaluru-2-to-3-years-130921500157?src=jobsearchDesk&sid=16315433099957255&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921603395?src=jobsearchDesk&sid=16315433099957255&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921003393?src=jobsearchDesk&sid=16315433099957255&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16315433099957255&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-6-to-10-years-090921501063?src=jobsearchDesk&sid=16315433099957255&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=16315433099957255&xp=10&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16315433099957255&xp=11&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16315433099957255&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16315433099957255&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-in4-walmart-labs-bangalore-bengaluru-7-to-10-years-090921501064?src=jobsearchDesk&sid=16315433099957255&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketplace-walmart-labs-bangalore-bengaluru-4-to-8-years-090921500549?src=jobsearchDesk&sid=16315433099957255&xp=15&px=1',
 'https://www.naukri.com/job-listings-hiring-for-manager-and-sr-manager-data-scientist-vision-beyond-resources-india-private-limited-noida-mumbai-new-delhi-gurgaon-gurugram-bangalore-bengaluru-8-to-13-years-090921005986?src=jobsearchDesk&sid=16315433099957255&xp=16&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16315433099957255&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16315433099957255&xp=18&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16315433099957255&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-business-analyst-lead-analyst-evalueserve-com-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-2-to-7-years-110821005065?src=jobsearchDesk&sid=16315433099957255&xp=20&px=1']

In [411]:
Search_discription=[]
for i in url:
    Search_discription.append(i.text)
Search_discription

['Hiring For Data Scientist',
 'Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist - I / II',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist IN4',
 'Senior Data Scientist (Marketplace)',
 'Hiring For Manager and Sr. Manager | Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist- Senior Business Analyst/Lead Analyst']

In [412]:
df=pd.DataFrame({})
df['Job_title']=job_title
df['Location']=Loc_tags
df['Companies']=Companies_tags
df['Experience_Required']=Experience_tags
df['Salary_tags']=Salary_tags
df['Job-Discription']=Search_discription
df.head(10)

,Job_title,Location,Companies,Experience_Required,Salary_tags,Job-Discription
0,Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Area...",Tata Consultancy Services Ltd.,3-8 Yrs,Not disclosed,Hiring For Data Scientist
1,Lead Data Scientist BFSI,Bengaluru/Bangalore,IBM India Pvt. Limited,5-9 Yrs,Not disclosed,Lead Data Scientist BFSI
2,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,3-5 Yrs,Not disclosed,Associate Data Scientist
3,Data Scientist,Bangalore/Bengaluru,Brillio,3-8 Yrs,Not disclosed,Data Scientist
4,Data Scientist - I / II,Bangalore/Bengaluru,Sharechat,2-3 Yrs,Not disclosed,Data Scientist - I / II
5,Data Scientist,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,4-8 Yrs,Not disclosed,Data Scientist
6,Data Scientist,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,4-8 Yrs,Not disclosed,Data Scientist
7,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,3-7 Yrs,Not disclosed,Data Scientist: Advanced Analytics
8,Senior Data Scientist,Bangalore/Bengaluru,Walmart Labs,6-10 Yrs,Not disclosed,Senior Data Scientist
9,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,7-12 Yrs,Not disclosed,Senior Data Scientist

# Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:
    
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the picture.

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually

In [50]:
driver=webdriver.Chrome('chromedriver.exe')

In [51]:
url='https://www.naukri.com/'
driver.get(url)

In [52]:
#search_job.send_keys("Data Analyst")
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')

#do click on xpath functiom

In [53]:
#write on search bar
search_job.send_keys("Data Scientist")

In [54]:
#finding element for job location bar
search_loc=driver.find_element_by_xpath('//input[@name="location"]')
search_loc.send_keys("Bangalore")

In [55]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [56]:
loc_box=driver.find_element_by_xpath('//span[@class="ellipsis fleft" and @title="Bangalore/Bengaluru"]')

In [57]:
loc_box.click()

In [58]:
salary_box=driver.find_element_by_xpath('//span[@class="ellipsis fleft" and @title="10-15 Lakhs"]')
salary_box

In [59]:
salary_box.click()

In [60]:
#so lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [61]:
#now the text form the job title inside the text extracted above
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

job_title=[]
for i in titles_tags:
    job_title.append(i.text)
job_title

['Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist IN4',
 'Senior Data Scientist (Marketplace)',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist- Senior Business Analyst/Lead Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist 3',
 'Data scientist',
 'Data Scientist',
 'Data Scientist']

# we do same for the company name,salary,and expericed required
Now we will extract al the html tags where we have the company names.

In [62]:
companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [63]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Companies_tags=[]
for i in companies_tags:
    Companies_tags.append(i.text)
Companies_tags

['Philips India Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Walmart Labs',
 'Airbnb',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'Walmart Labs',
 'Walmart Labs',
 'CRISIL LIMITED',
 'AVE-Promagne',
 'Wrackle Technologies Pvt Ltd',
 'Evalueserve.com Pvt. Ltd',
 'Oracle India Pvt. Ltd.',
 'IHS Markit',
 'Schneider Electric India Pvt. Ltd.',
 'Western Digital',
 'Bloom Consulting Services, Inc.',
 'Walmart Labs',
 'PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED']

In [64]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [65]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Loc_tags=[]
for i in loc_tags:
    Loc_tags.append(i.text)
Loc_tags

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'United States (USA), Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)']

In [66]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')

In [67]:
Experience_tags=[]
for i in experience_tags:
    Experience_tags.append(i.text)
Experience_tags

['3-5 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '6-10 Yrs',
 '7-12 Yrs',
 '6-8 Yrs',
 '5-10 Yrs',
 '7-10 Yrs',
 '4-8 Yrs',
 '2-6 Yrs',
 '6-8 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '5-9 Yrs',
 '3-6 Yrs',
 '7-12 Yrs',
 '6-9 Yrs',
 '5-8 Yrs',
 '4-8 Yrs',
 '5-10 Yrs']

In [68]:
salary_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')

In [69]:
Salary_tags=[]
for i in salary_tags:
    Salary_tags.append(i.text)
Salary_tags

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '12,00,000 - 22,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [70]:
print(len(job_title),len(Companies_tags),len(Loc_tags),len(Salary_tags),len(Experience_tags))

20 20 20 20 20

In [71]:
df=pd.DataFrame({})
df['Job_title']=job_title
df['Loc_tags']=Loc_tags
df['Companies_tags']=Companies_tags
df['Experience_tags']=Experience_tags
df['Salary_tags']=Salary_tags
df.head(10)

,Job_title,Loc_tags,Companies_tags,Experience_tags,Salary_tags
0,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,3-5 Yrs,Not disclosed
1,Data Scientist,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,4-8 Yrs,Not disclosed
2,Data Scientist,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,4-8 Yrs,Not disclosed
3,Senior Data Scientist,Bangalore/Bengaluru,Walmart Labs,6-10 Yrs,Not disclosed
4,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,7-12 Yrs,Not disclosed
5,Sr Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,6-8 Yrs,Not disclosed
6,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Happiest Minds Technologies Pvt.Ltd,5-10 Yrs,Not disclosed
7,Senior Data Scientist IN4,Bangalore/Bengaluru,Walmart Labs,7-10 Yrs,Not disclosed
8,Senior Data Scientist (Marketplace),Bangalore/Bengaluru,Walmart Labs,4-8 Yrs,Not disclosed
9,Requirement For Data Scientist - Mumbai & Bang...,"Bangalore/Bengaluru, Mumbai (All Areas)",CRISIL LIMITED,2-6 Yrs,Not disclosed

# Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” 
in “location” field.
4. Then scrape the data for the first 10 jobs results you get in the above shown 
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [72]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [73]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.glassdoor.co.in/member/home/index.htm'
driver.get(url)

In [74]:
#search_job.send_keys("Data Scientist")
search_job=driver.find_element_by_id('sc.keyword')
search_job

In [75]:
#write on search bar
search_job.send_keys("Data Scientist")

In [76]:
#job_loc.send_keys("Banglore")
job_loc=driver.find_element_by_id('sc.location')

In [77]:
#write on search bar
job_loc.send_keys("Noida")

In [78]:
#do click on xpath functiom
search_btn=driver.find_element_by_xpath('//span[@class="css-8zxfjs"]')

In [79]:
search_btn.click()

In [80]:
#so lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath('//a[@class="jobLink job-search-key-1rd3saf eigr9kq1"]')

In [81]:
#now the text form the job title inside the text extracted above
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

job_title=[]
for i in titles_tags:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Senior Data Scientist',
 'Data Scientist (BE/ B-tech 4-6 yrs)',
 'Data Scientist 2',
 'Data Scientist',
 'Data Scientist Intern',
 'Executive - Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist (Matlab and Python)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (min 1year DS exp) Immed Hire',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist 1',
 'Data Scientist-CAI',
 'Data Scientist (Geospatial)',
 'Data Scientist',
 'Data Scientist 3',
 'Data Scientist',
 'Lead Data Scientist / Artificial Intelligence Scientist',
 'Analytics Data Pipeline Development Intern',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [82]:
companies_tags=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')

In [83]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Companies_tags=[]
for i in companies_tags:
    Companies_tags.append(i.text)
Companies_tags

['Applied Materials Inc.',
 'Amplify Analytix',
 'CommerceIQ',
 'PayPal',
 'Elpis IT Solutions',
 'Argoid',
 'NielsenIQ',
 'Patient Bond India Private Limited',
 'Top Mentor',
 'Reach52, Inc.',
 'IBM',
 'Mercedes-Benz Research and Development India Private Limited',
 'Lenskart',
 'HP',
 'Argoid',
 'GE Aviation',
 'Zinier',
 'Maersk',
 'HDFC Bank',
 'Yara',
 'Myian pharma',
 'Oracle',
 'Slice',
 'Excelledia Ventures',
 'Emplay Inc',
 'Deloitte',
 'Ambee',
 'GLOBAL TECHNOLOGIES',
 'Airtel India',
 'Research Infinite Solutions LLP']

In [84]:
loc_tags=driver.find_elements_by_xpath('//span[@class="css-1buaf54 pr-xxsm job-search-key-iii9i8 e1rrn5ka4"]')

In [85]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Loc_tags=[]
for i in loc_tags:
    Loc_tags.append(i.text)
Loc_tags

['Bangalore',
 'Bangalore',
 '',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Vadodara',
 'Chandigarh',
 'Pune',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Farīdābād',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Cochin',
 'Bhopal',
 'Bangalore',
 'Bangalore',
 'Hyderābād',
 'Gurgaon',
 'Mohali']

In [86]:
post_tags=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-17n8uzw"]')

In [87]:
Post_tags=[]
for i in post_tags:
    Post_tags.append(i.text)

Post_tags

['30d+',
 '30d+',
 '30d+',
 '30d+',
 '6d',
 '7d',
 '2d',
 '24h',
 '5d',
 '10d',
 '3d',
 '20d',
 '6d',
 '12d',
 '24h',
 '12d',
 '5d',
 '23d',
 '17d',
 '9d',
 '21d',
 '1d',
 '30d+',
 '24h',
 '6d',
 '7d',
 '30d+',
 '10d',
 '24d',
 '13d']

In [88]:
print(len(job_title),len(Companies_tags),len(Loc_tags),len(Post_tags))

30 30 30 30

In [89]:
df=pd.DataFrame({})
df['Job_title']=job_title
df['Loc_tags']=Loc_tags
df['Companies_tags']=Companies_tags
df['Post_tags']=Post_tags 

df

,Job_title,Loc_tags,Companies_tags,Post_tags
0,Data Scientist,Bangalore,Applied Materials Inc.,30d+
1,Senior Data Scientist,Bangalore,Amplify Analytix,30d+
2,Data Scientist (BE/ B-tech 4-6 yrs),,CommerceIQ,30d+
3,Data Scientist 2,Bangalore,PayPal,30d+
4,Data Scientist,Bangalore,Elpis IT Solutions,6d
5,Data Scientist Intern,Bangalore,Argoid,7d
6,Executive - Data Scientist,Vadodara,NielsenIQ,2d
7,Data Scientist,Chandigarh,Patient Bond India Private Limited,24h
8,Associate Data Scientist,Pune,Top Mentor,5d
9,Data Scientist,Bangalore,"Reach52, Inc.",10d
10,Data Scientist: Artificial Intelligence,Bangalore,IBM,3d
11,Data Scientist (Matlab and Python),Bangalore,Mercedes-Benz Research and Development India P...,20d
12,Data Scientist,Farīdābād,Lenskart,6d
13,Data Scientist,Bangalore,HP,12d
14,Data Scientist (min 1year DS exp) Immed Hire,Bangalore,Argoid,24h
15,Data Scientist,Bangalore,GE Aviation,12d
16,Data Scientist,Bangalore,Zinier,5d
17,Data Scientist 1,Bangalore,Maersk,23d
18,Data Scientist-CAI,Bangalore,HDFC Bank,17d
19,Data Scientist (Geospatial),Bangalore,Yara,9d
20,Data Scientist,Bangalore,Myian pharma,21d
21,Data Scientist 3,Bangalore,Oracle,1d
22,Data Scientist,Bangalore,Slice,30d+
23,Lead Data Scientist / Artificial Intelligence ...,Cochin,Excelledia Ventures,24h
24,Analytics Data Pipeline Development Intern,Bhopal,Emplay Inc,6d
25,Data Scientist,Bangalore,Deloitte,7d
26,Data Scientist,Bangalore,Ambee,30d+
27,Data Scientist,Hyderābād,GLOBAL TECHNOLOGIES,10d
28,Data Scientist,Gurgaon,Airtel India,24d
29,Data Scientist,Mohali,Research Infinite Solutions LLP,13d

# Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page.
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done bby coding only and not manually.

In [3]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [91]:
#search_job.send_keys("Data Scientist")
search_job=driver.find_element_by_xpath('//input[@class="keyword"]')
search_job

#do click on xpath functiom

In [92]:
#write on search bar
search_job.send_keys("Data Scientist")

In [93]:
#search_job.send_keys("Noida")
loc_tags=driver.find_element_by_xpath('//input[@class="loc" and @data-test="search-bar-location-input"]')
loc_tags

#do click on xpath functiom

In [94]:
#write on search bar
loc_tags.send_keys("Noida")

In [95]:
#do click on xpath functiom
search_btn=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')

In [96]:
search_btn.click()

In [97]:
#we scrap 4 thing
#Company name
#Number of salaries
#Average salary
#Min salary
#Max Salary

In [99]:
companies_tags=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')

In [100]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Companies_tags=[]
for i in companies_tags:
    Companies_tags.append(i.text)
Companies_tags

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'Fresher',
 'CARS24.com',
 'Vidooly Media Tech']

In [101]:
number_of_salaries=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]')

In [102]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Number_of_salaries=[]
for i in number_of_salaries:
    Number_of_salaries.append(i.text)
Number_of_salaries

['22 salaries',
 '20 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries']

In [103]:

average_salaries=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')

In [104]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Average_salaries=[]
for i in average_salaries:
    Average_salaries.append(i.text.replace("\n",""))
Average_salaries

['₹6,28,021 /yr',
 '₹9,08,246 /yr',
 '₹11,93,390 /yr',
 '₹12,49,716 /yr',
 '₹7,58,335 /yr',
 '₹12,80,000 /yr',
 '₹12,70,000 /yr',
 '₹14,55,430 /yr',
 '₹8,86,064 /yr',
 '₹11,10,000 /yr',
 '₹9,62,227 /yr',
 '₹11,71,868 /yr',
 '₹11,01,815 /yr',
 '₹12,40,275 /yr',
 '₹14,51,902 /yr',
 '₹11,30,374 /yr',
 '₹20,63,782 /yr',
 '₹61,566 /mo',
 '₹10,80,727 /yr',
 '₹35,040 /mo']

In [105]:
salaries=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]')

In [106]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Salaries=[]
for i in salaries:
    Salaries.append(i.text.replace("\n"," min--->max "))
Salaries

['₹4L min--->max ₹13L',
 '₹1L min--->max ₹28L',
 '₹6L min--->max ₹23L',
 '₹5L min--->max ₹1Cr',
 '₹4L min--->max ₹17L',
 '₹8L min--->max ₹16L',
 '₹8L min--->max ₹20L',
 '₹10L min--->max ₹18L',
 '₹5L min--->max ₹15L',
 '₹6L min--->max ₹16L',
 '₹4L min--->max ₹13L',
 '₹2L min--->max ₹19L',
 '₹4L min--->max ₹21L',
 '₹6L min--->max ₹17L',
 '₹10L min--->max ₹21L',
 '₹8L min--->max ₹21L',
 '₹10L min--->max ₹30L',
 '₹25T min--->max ₹1L',
 '₹9L min--->max ₹15L',
 '₹12T min--->max ₹64T']

In [107]:
df=pd.DataFrame({})
df['Companies_tags']=Companies_tags
df['Number_of_salaries']=Number_of_salaries
df['Average_Salary']=Average_salaries
df['Min-Max(salary)']=Salaries 

df

,Companies_tags,Number_of_salaries,Average_Salary,Min-Max(salary)
0,Tata Consultancy Services,22 salaries,"₹6,28,021 /yr",₹4L min--->max ₹13L
1,IBM,20 salaries,"₹9,08,246 /yr",₹1L min--->max ₹28L
2,Accenture,15 salaries,"₹11,93,390 /yr",₹6L min--->max ₹23L
3,Delhivery,15 salaries,"₹12,49,716 /yr",₹5L min--->max ₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,58,335 /yr",₹4L min--->max ₹17L
5,UnitedHealth Group,14 salaries,"₹12,80,000 /yr",₹8L min--->max ₹16L
6,Optum,11 salaries,"₹12,70,000 /yr",₹8L min--->max ₹20L
7,Optum Global Solutions,10 salaries,"₹14,55,430 /yr",₹10L min--->max ₹18L
8,Valiance Solutions,10 salaries,"₹8,86,064 /yr",₹5L min--->max ₹15L
9,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L min--->max ₹16L
10,Cognizant Technology Solutions,8 salaries,"₹9,62,227 /yr",₹4L min--->max ₹13L
11,ZS Associates,8 salaries,"₹11,71,868 /yr",₹2L min--->max ₹19L
12,Nagarro,8 salaries,"₹11,01,815 /yr",₹4L min--->max ₹21L
13,Innovaccer,8 salaries,"₹12,40,275 /yr",₹6L min--->max ₹17L
14,OYO,7 salaries,"₹14,51,902 /yr",₹10L min--->max ₹21L
15,dunnhumby,7 salaries,"₹11,30,374 /yr",₹8L min--->max ₹21L
16,Amazon,6 salaries,"₹20,63,782 /yr",₹10L min--->max ₹30L
17,Fresher,6 salaries,"₹61,566 /mo",₹25T min--->max ₹1L
18,CARS24.com,6 salaries,"₹10,80,727 /yr",₹9L min--->max ₹15L
19,Vidooly Media Tech,6 salaries,"₹35,040 /mo",₹12T min--->max ₹64T

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and 
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page 
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of 
the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [591]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [4]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)

In [5]:

search_field=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_field

#do click on xpath functiom

In [6]:
#write on search bar
search_field.send_keys("Sunglasses")
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

#do click on xpath functiom

In [7]:
search_btn.click()

In [8]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

#do click on xpath functiom

In [9]:
Brand1=[]
for i in brand:
    Brand1.append(i.text)
Brand1

['AISLIN',
 'GANSTA',
 'PIRASO',
 'Elligator',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'SUNBEE',
 'ROYAL SON',
 'DEIXELS',
 'ROYAL SON',
 'Rich Club',
 'Singco India',
 'NuVew',
 'OCCARIO',
 'PHENOMENAL',
 'NuVew',
 'Singco India',
 'povty',
 'GANSTA',
 'AISLIN',
 'New Specs',
 'HIPPON',
 'hipe',
 'AISLIN',
 'Singco',
 'WROGN',
 'AISLIN',
 'AISLIN',
 'Badfella',
 'Cruze',
 'IRUS by IDEE',
 'NuVew',
 'Fravy',
 'elegante',
 'Poloport',
 'AISLIN']

In [16]:
dis=driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
#do click on xpath functiom
print(len(dis))

40

In [17]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Dis1=[]
for i in dis:
    Dis1.append(i.text)
Dis1

['UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (49)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Aviator Sunglasses (58)',
 'Others Round Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Gradient Round Sunglasses (58)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection, Gradient Wayfarer, Round Sunglasses (63)',
 'Mirrored Aviator Sunglasses (53)',
 'Mirrored Round Sunglasses (52)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...']

In [18]:
print(len(Dis1))

40

In [19]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [20]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Price1=[]
for i in price:
    Price1.append(i.text)
Price1

['₹485',
 '₹284',
 '₹237',
 '₹295',
 '₹284',
 '₹198',
 '₹369',
 '₹664',
 '₹499',
 '₹246',
 '₹265',
 '₹664',
 '₹202',
 '₹474',
 '₹215',
 '₹331',
 '₹202',
 '₹179',
 '₹399',
 '₹403',
 '₹334',
 '₹349',
 '₹295',
 '₹498',
 '₹299',
 '₹257',
 '₹209',
 '₹795',
 '₹239',
 '₹789',
 '₹498',
 '₹545',
 '₹269',
 '₹499',
 '₹329',
 '₹210',
 '₹299',
 '₹399',
 '₹314',
 '₹516']

In [21]:
print(len(Price1))

40

In [22]:
discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [23]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

discount1=[]
for i in discount:
    discount1.append(i.text)
discount1

['68% off',
 '85% off',
 '85% off',
 '88% off',
 '89% off',
 '88% off',
 '58% off',
 '66% off',
 '77% off',
 '83% off',
 '73% off',
 '66% off',
 '83% off',
 '68% off',
 '73% off',
 '83% off',
 '74% off',
 '69% off',
 '80% off',
 '72% off',
 '72% off',
 '65% off',
 '85% off',
 '67% off',
 '81% off',
 '78% off',
 '79% off',
 '75% off',
 '76% off',
 '69% off',
 '67% off',
 '64% off',
 '73% off',
 '61% off',
 '71% off',
 '73% off',
 '80% off',
 '80% off',
 '82% off',
 '66% off']

In [24]:
print(len(discount1))

40

In [25]:
#lets scrap item from next page as well for that we have to find the next pag link and click it
nxt_page=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
nxt_page

In [26]:
nxt_page.click()

In [31]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [32]:
Brand2=[]
for i in brand:
    Brand2.append(i.text)
Brand2

['PIRASO',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'AISLIN',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'PHENOMENAL',
 'NuVew',
 'GANSTA',
 'Elligator',
 'Singco India',
 'AISLIN',
 'SUNBEE',
 'Silver Kartz',
 'DEIXELS',
 'AISLIN',
 'hipe',
 'Rich Club',
 'NuVew',
 'AISLIN',
 'IRUS by IDEE',
 'AISLIN',
 'PIRASO',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'GANSTA',
 'kingsunglasses',
 'ROYAL SON',
 'Elligator',
 'GANSTA',
 'Singco India',
 'GANSTA',
 'PHENOMENAL',
 'GANSTA',
 'hipe',
 'SUNBEE',
 'IRUS by IDEE',
 'NuVew']

In [33]:
dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

#do click on xpath functiom

In [34]:
Dis2=[]
for i in dis:
    Dis2.append(i.text)
Dis2

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Wayfarer, Clubmaster Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Round Sunglasses (55)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Oval Sunglasses (56)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection, Gradient Aviator Sunglasses (61)',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...']

In [35]:
print(len(Dis2))

40

In [36]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [37]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Price2=[]
for i in price:
    Price2.append(i.text)
Price2

['₹237',
 '₹499',
 '₹213',
 '₹525',
 '₹215',
 '₹474',
 '₹399',
 '₹375',
 '₹295',
 '₹266',
 '₹293',
 '₹545',
 '₹314',
 '₹284',
 '₹236',
 '₹725',
 '₹210',
 '₹299',
 '₹345',
 '₹625',
 '₹389',
 '₹498',
 '₹237',
 '₹498',
 '₹449',
 '₹520',
 '₹331',
 '₹230',
 '₹284',
 '₹664',
 '₹312',
 '₹221',
 '₹225',
 '₹289',
 '₹295',
 '₹374',
 '₹210',
 '₹284',
 '₹419',
 '₹398']

In [38]:
#
discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [39]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

discount2=[]
for i in discount:
    discount2.append(i.text)
discount2

['85% off',
 '77% off',
 '80% off',
 '65% off',
 '78% off',
 '68% off',
 '80% off',
 '64% off',
 '85% off',
 '86% off',
 '82% off',
 '64% off',
 '75% off',
 '76% off',
 '60% off',
 '70% off',
 '78% off',
 '62% off',
 '72% off',
 '70% off',
 '72% off',
 '70% off',
 '85% off',
 '67% off',
 '77% off',
 '34% off',
 '80% off',
 '78% off',
 '89% off',
 '66% off',
 '87% off',
 '77% off',
 '67% off',
 '85% off',
 '87% off',
 '81% off',
 '83% off',
 '71% off',
 '70% off',
 '74% off']

In [40]:
#lets scrap item from next page as well for that we have to find the next pag link and click it
nxt_page=driver.find_element_by_xpath('//a[@class="ge-49M _2Kfbh8"]')
nxt_page

In [41]:
nxt_page.click()

In [42]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [43]:
Brand3=[]
for i in brand:
    Brand3.append(i.text)
Brand3

['PIRASO',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'AISLIN',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'PHENOMENAL',
 'NuVew',
 'GANSTA',
 'Elligator',
 'Singco India',
 'AISLIN',
 'SUNBEE',
 'Silver Kartz',
 'DEIXELS',
 'AISLIN',
 'hipe',
 'Rich Club',
 'NuVew',
 'AISLIN',
 'IRUS by IDEE',
 'AISLIN',
 'PIRASO',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'GANSTA',
 'kingsunglasses',
 'ROYAL SON',
 'Elligator',
 'GANSTA',
 'Singco India',
 'GANSTA',
 'PHENOMENAL',
 'GANSTA',
 'hipe',
 'SUNBEE',
 'IRUS by IDEE',
 'NuVew']

In [44]:
dis=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [45]:
Dis3=[]
for i in dis:
    Dis3.append(i.text)
Dis3

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Wayfarer, Clubmaster Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Round Sunglasses (55)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Oval Sunglasses (56)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection, Gradient Aviator Sunglasses (61)',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...']

In [46]:
print(len(Dis3))

40

In [47]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [48]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

Price3=[]
for i in price:
    Price3.append(i.text)
Price3

['₹237',
 '₹499',
 '₹213',
 '₹525',
 '₹215',
 '₹474',
 '₹399',
 '₹375',
 '₹295',
 '₹266',
 '₹293',
 '₹545',
 '₹314',
 '₹284',
 '₹236',
 '₹725',
 '₹210',
 '₹299',
 '₹345',
 '₹625',
 '₹389',
 '₹498',
 '₹237',
 '₹498',
 '₹449',
 '₹520',
 '₹331',
 '₹230',
 '₹284',
 '₹664',
 '₹312',
 '₹221',
 '₹225',
 '₹289',
 '₹295',
 '₹374',
 '₹210',
 '₹284',
 '₹419',
 '₹398']

In [49]:
discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [50]:
#so we run the loop to iterate over the tags extracted above and extract the text inside them.

discount3=[]
for i in discount:
    discount3.append(i.text)
discount3

['85% off',
 '77% off',
 '80% off',
 '65% off',
 '78% off',
 '68% off',
 '80% off',
 '64% off',
 '85% off',
 '86% off',
 '82% off',
 '64% off',
 '75% off',
 '76% off',
 '60% off',
 '70% off',
 '78% off',
 '62% off',
 '72% off',
 '70% off',
 '72% off',
 '70% off',
 '85% off',
 '67% off',
 '77% off',
 '34% off',
 '80% off',
 '78% off',
 '89% off',
 '66% off',
 '87% off',
 '77% off',
 '67% off',
 '85% off',
 '87% off',
 '81% off',
 '83% off',
 '71% off',
 '70% off',
 '74% off']

In [51]:
#let combined all the scram data for making the count 100 and make a data frame.
Brand=Brand1+Brand2+Brand3
Discount=discount1+discount2+discount3
Disc=Dis1+Dis2+Dis3
Price=Price1+Price2+Price3

In [52]:
print(len(Disc))

120

In [53]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Discription']=Disc
df['Price']=Price
df['Discount']= Discount

df=df.head(100)
df

,Brand,Discription,Price,Discount
0,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹485,68% off
1,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹284,85% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
...,...,...,...,...
95,AISLIN,UV Protection Oval Sunglasses (60),₹725,70% off
96,hipe,"UV Protection, Night Vision, Gradient, Mirrore...",₹210,78% off
97,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹299,62% off
98,NuVew,UV Protection Sports Sunglasses (62),₹345,72% off
99,AISLIN,"UV Protection, Gradient Aviator Sunglasses (61)",₹625,70% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews

In [150]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")

In [238]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes%02earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC'
driver.get(url)

In [239]:
all_rating_review=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')

In [240]:
all_rating_review.click()

In [241]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [242]:

rating1=[]
for i in rating:
    rating1.append(i.text)
rating1

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [243]:
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

In [244]:

review1=[]
for i in review:
    review1.append(i.text)
review1

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [245]:
full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [246]:
full_review1=[]
for i in full_review:
    full_review1.append(i.text.replace("\n",""))
full_review1

['The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.Pros-Camera top class- Battery top performed-Chipset no need to say as apple kind-Security as you expect from apple- Display super bright industry leading colouraccuracy and super responsive-Build quality as expect from apple sturdypremium durable beautiful stylish.-Os most stable os in smartphone industryCons-No 5G-Display is not based on OLED technology-Charger headphones and 1 apple stic...READ MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [247]:
print(len(rating1),len(review1),len(full_review1))

10 10 10

In [248]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
nxt.click()

In [249]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating2=[]
for i in rating:
    rating2.append(i.text)
rating2

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [250]:
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review2=[]
for i in review:
    review2.append(i.text)
review2

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific']

In [251]:
full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review2=[]
for i in full_review:
    full_review2.append(i.text.replace("\n",""))
full_review2

['What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...READ MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.This phone not only for good quality photography but a lot of other task too.😍💯",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...READ MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4gCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to chargeCamera is superb. Front cam selfies and back cam photos are just awesome....READ MORE',
 'Really worth of money. i just love it. It is the best phone ever.']

In [252]:
print(len(rating2),len(review2),len(full_review2))

10 10 10

In [253]:
#do the same from next page
#ge-49M _2Kfbh8
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]')
nxt.click()

In [254]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating3=[]
for i in rating:
    rating3.append(i.text)
rating3

['5', '5', '4', '5', '5', '5', '5', '4', '5', '5']

In [255]:
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review3=[]
for i in review:
    review3.append(i.text)
review3

['Worth every penny',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Classy product',
 'Brilliant',
 'Must buy!',
 'Good choice',
 'Wonderful',
 'Perfect product!']

In [256]:
full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review3=[]
for i in full_review:
    full_review3.append(i.text.replace("\n",""))
full_review3

['Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.Lucky to get it in sale, thank you Flipkart.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.Camera is superb and wide angle camera is very clear.12MP selfie camera is also very good.A13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Superb Product !!!A big and worthy upgrade from mi 3S to iphone 11 .Totally loved it !',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.2) iPhone 11 series have really good cameras... others have spoken in depth about them.3) bat...READ MORE',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantageThis review I have written from iPhone 11 only and I am glad to say outside.Cons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.No assistive touch control button in itNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...READ MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phoneClean box 📦 good 👍 delivery 👌 fast deliveryOriginal box Original iphone 📱 👌 😍😍😍',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.Camera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.I will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.Only one thing that I dislike abo...READ MORE',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use']

In [257]:
print(len(rating3),len(review3),len(full_review3))

10 10 10

In [258]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
nxt.click()

In [259]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating4=[]
for i in rating:
    rating4.append(i.text)
rating4

['5', '5', '5', '4', '5', '5', '5', '5', '5', '5']

In [260]:
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review4=[]
for i in review:
    review4.append(i.text)
review4

['Just wow!',
 'Awesome',
 'Terrific',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!']

In [261]:
full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review4=[]
for i in full_review:
    full_review4.append(i.text.replace("\n",""))
full_review4

['Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 "I upgraded (downgraded?) from my iPhone X since the phone fell down and I didn't want to repair the screen. The box that the phone came in was super slim and I was worried that there'd be no 5W charger with it and my fears were confirmed. However, thankfully I had the 18W USB-C PD charger from Apple which I bought for my iPhone X and it worked perfectly. The charging time is as lethargic as ever though and it takes about 1:30 mins or even 2 hours depending on charge remaining. I'll list some ...READ MORE",
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would sayBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.As for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.The battery runs for a day with medium and high workload.The display is good and the speakers are working fine.The earphones doesn't have any base and you can use it for calling mostly.The charging time is approximately for 90 minutes for full charging...READ MORE",
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money']

In [262]:
print(len(rating4),len(review4),len(full_review4))

10 10 10

In [263]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
nxt.click()

In [264]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating5=[]
for i in rating:
    rating5.append(i.text)
rating5

['5', '5', '5', '4', '5', '5', '5', '5', '5', '5']

In [265]:
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review5=[]
for i in review:
    review5.append(i.text)
review5

['Just wow!',
 'Awesome',
 'Terrific',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!']

In [266]:
full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review5=[]
for i in full_review:
    full_review5.append(i.text.replace("\n",""))
full_review5

['Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 "I upgraded (downgraded?) from my iPhone X since the phone fell down and I didn't want to repair the screen. The box that the phone came in was super slim and I was worried that there'd be no 5W charger with it and my fears were confirmed. However, thankfully I had the 18W USB-C PD charger from Apple which I bought for my iPhone X and it worked perfectly. The charging time is as lethargic as ever though and it takes about 1:30 mins or even 2 hours depending on charge remaining. I'll list some ...READ MORE",
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would sayBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.As for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.The battery runs for a day with medium and high workload.The display is good and the speakers are working fine.The earphones doesn't have any base and you can use it for calling mostly.The charging time is approximately for 90 minutes for full charging...READ MORE",
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money']

In [267]:
print(len(rating5),len(review5),len(full_review5))

10 10 10

In [268]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
nxt.click()

In [274]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating6=[]
for i in rating:
    rating6.append(i.text)
rating6

['5', '4', '5', '5', '3', '5', '5', '5', '5', '5']

In [275]:
review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review6=[]
for i in review:
    review6.append(i.text)
review6

['Super!',
 'Good choice',
 'Simply awesome',
 'Great product',
 'Nice',
 'Mind-blowing purchase',
 'Worth every penny',
 'Mind-blowing purchase',
 'Awesome',
 'Awesome']

In [276]:
full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review6=[]
for i in full_review:
    full_review6.append(i.text.replace("\n",""))
full_review6

['Everything good as expected from Apple, but only thing thing missing is the 18w power adapter, because if the phone is compatible for fast charging and it takes more than 3 hours for full charge on a normal charger then it should come bundled with the 18w adapter.',
 'Great product as usual. Handy phone with best processor and camera quality in the market. Recommended 128GB storage 👍',
 'excellent mobile phone with amazing feautures. 100% value for money.The greatest attribute was its battery(all day long usage). dont hesitate to buy. Only difference between 11pro and 11 is display and its telescope lens remaining all are same',
 'Terrific!!! Lucky to get this phone in first lot. First switch over for me from android. awesome camera.. One of the best in class.. go for iphone 11 if you are the first time user.',
 'Iphone 11 black 64gb is really a cool phone1. Camera is superb using it long time heats the phone a bit2. iOS 13 is elegant and nice3. Video yet to test4. Charger : Phone has the capability to fast charge but charger is not capable of doing it which frustrates being a top brand and providing and charger like this is worst from Apple5. Sound quality especially in headphones is wonderful',
 'This is phone is super duper sexy.You will get in love with this phone the moment you will unbox it.Performance is awesome.So smooth, easy to handle.Sometimes, if working continuously, you will feel that the phone is heavy otherwise you won’t if worked for shorter period of time.I would personally suggest you to go for 128GB version because it will be a true value for money.Talking about colour, I find white colour as a royal one.',
 "no complaint against the display it's very crisp , though it is not the OLED but if you put side by side and compare with iPhone xs you hardly notice any difference , i noticed the brightness because 11 has 600 nits compare to 1200 nits on xs . other wise you never feel that its a 720 p display. very very good quality LCD screen you can't compare with any other LCD screen it's far better than any other LCD screen available in market. battery is very impressive , and Love the sound of stereo s...READ MORE",
 'Wow!! What a beauty.. i was a hardcore fan of android and i always felt iphone is overrated. Features are far inferior to android and costs 4 times. I am a heavy user and for me battery life is one of the more important feature and everyone knows apple lacked in it. This is my 1st iphone and I am loving the change. RAM concept was totally misunderstood.. it is the most fluidic set I ever used. In hand feel is premium. Display is good but I loved the one plus more in this. Battery life is a sh...READ MORE',
 'Features and design is good bt not satisfied with display i lyk apple bcz of their display quality bt in dis ph they give same diplay like other brands give us i hv 6s too frankly speaking both 6s and 11 have lcd display bt lots of diff between themApple previous lcd display was awsm bt nw jst making money like other brands vary disappointing it feels like m playing ios in samsung screen',
 'So good look comfortable iPhone 11 I am so very happy my life first time iPhone used camera is 👌 sound quality is clear sounds']

In [277]:
print(len(rating6),len(review6),len(full_review6))

10 10 10

In [278]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
nxt.click()

In [279]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating7=[]
for i in rating:
    rating7.append(i.text)

review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review7=[]
for i in review:
    review7.append(i.text)

full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review7=[]
for i in full_review:
    full_review7.append(i.text.replace("\n",""))

In [280]:
 print(len(rating7),len(review7),len(full_review7))

10 10 10

In [281]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
nxt.click()

In [282]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating8=[]
for i in rating:
    rating8.append(i.text)

review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review8=[]
for i in review:
    review8.append(i.text)

full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review8=[]
for i in full_review:
    full_review8.append(i.text.replace("\n",""))

In [283]:
 print(len(rating8),len(review8),len(full_review8))

10 10 10

In [284]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
nxt.click()

In [285]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating9=[]
for i in rating:
    rating9.append(i.text)

review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review9=[]
for i in review:
    review9.append(i.text)

full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review9=[]
for i in full_review:
    full_review9.append(i.text.replace("\n",""))

In [286]:
 print(len(rating9),len(review9),len(full_review9))

10 10 10

In [287]:
#do the same from next page
nxt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
nxt.click()

In [288]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating10=[]
for i in rating:
    rating10.append(i.text)

review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review10=[]
for i in review:
    review10.append(i.text)

full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review10=[]
for i in full_review:
    full_review10.append(i.text.replace("\n",""))

In [289]:
 print(len(rating10),len(review10),len(full_review10))

10 10 10

In [290]:
#lets make data frame from all the 100 ratings,review and full review

In [291]:
Rating=rating1+rating2+rating3+rating4+rating5+rating6+rating7+rating8+rating9+rating10

In [292]:
Review=review1+review2+review3+review4+review5+review6+review7+review8+review9+review10

In [293]:
Full_review=full_review1+full_review2+full_review3+full_review4+full_review5+full_review6+full_review7+full_review8+full_review9+full_review10

In [294]:
df=pd.DataFrame({})
df['Rating']=Rating
df['Review']=Review
df['Full_review']=Full_review
df

,Rating,Review,Full_review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Mind-blowing purchase,This is phone is super duper sexy.You will get...
96,5,Worth every penny,no complaint against the display it's very cri...
97,5,Mind-blowing purchase,Wow!! What a beauty.. i was a hardcore fan of ...
98,5,Awesome,Features and design is good bt not satisfied w...
99,5,Awesome,So good look comfortable iPhone 11 I am so ver...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code 
only and not manually

In [295]:
#driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)

In [296]:
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in rating:
    rating10.append(i.text)

review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review10=[]
for i in review:
    review10.append(i.text)

full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review10=[]
for i in full_review:
    full_review10.append(i.text.replace("\n",""))

In [297]:

search_field=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_field

#do click on xpath functiom

In [298]:
#write on search bar
search_field.send_keys("sneakers")

In [299]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

#do click on xpath functiom

In [300]:
#_2WkVRV
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand1=[]
for i in brand:
    brand1.append(i.text)


price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price1=[]
for i in price:
    price1.append(i.text)

review=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC" or @class="IRpwTa"]')
review1=[]
for i in review:
    review1.append(i.text)

dis=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
dis1=[]
for i in dis:
    dis1.append(i.text.replace("\n",""))

In [301]:
print(len(brand1),len(review1),len(dis1),len(price1))

40 40 40 40

In [302]:
nxt=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
nxt.click()

In [303]:
#_2WkVRV
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand2=[]
for i in brand:
    brand2.append(i.text)


price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price2=[]
for i in price:
    price2.append(i.text)

review=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC" or @class="IRpwTa"]')
review2=[]
for i in review:
    review2.append(i.text)

dis=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
dis2=[]
for i in dis:
    dis2.append(i.text.replace("\n",""))

In [304]:
 print(len(brand2),len(review2),len(dis2),len(price2))

40 40 40 40

In [305]:
nxt=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
nxt.click()

In [306]:
#_2WkVRV
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand3=[]
for i in brand:
    brand3.append(i.text)


price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price3=[]
for i in price:
    price3.append(i.text)

review=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC" or @class="IRpwTa"]')
review3=[]
for i in review:
    review3.append(i.text)

dis=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
dis3=[]
for i in dis:
    dis3.append(i.text.replace("\n",""))
print(len(brand2),len(review2),len(dis2),len(price2))

40 40 40 40

In [307]:
Brand=brand1+brand2+brand3
Review=review1+review2+review3
Discount=dis1+dis2+dis3
Price=price1+price2+price3

In [308]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Price']=Price
df['Discount']=Discount
df['Review']=Review
df.head(100)

,Brand,Price,Discount,Review
0,luxury fashion,₹379,81% off,Sneakers For Men
1,India hub,₹399,80% off,Sneakers For Men
2,Magnolia,₹356,64% off,Sneakers For Men
3,Longwalk,₹236,52% off,Men Boxer Sneakers For Men
4,BRUTON,₹474,86% off,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
...,...,...,...,...
95,Echor,₹399,60% off,HHM Sneakers For Men
96,SPARX,₹660,17% off,SM-607 Sneakers For Men
97,PUMA,"₹1,650",49% off,Brave IDP Sneakers For Men
98,mannu,₹398,60% off,Luxury Fashionable Breathable Casual Sneakers ...
99,Rebelbe,₹381,61% off,Casual Sneaker Sneakers For Men

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
.
And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be 
done through code only and there should not be any manual step

In [309]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.myntra.com/shoes'
driver.get(url)

In [310]:
fltr_price=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
fltr_price.click()

In [311]:
fltr_black=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
fltr_black.click()

In [312]:

brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
brand1=[]
for i in brand:
    brand1.append(i.text)


price=driver.find_elements_by_xpath('//div[@class="product-price"]')
price1=[]
for i in price:
    price1.append(i.text)


review=driver.find_elements_by_xpath('//h4[@class="product-product"]')

review1=[]
for i in review:
    
    review1.append(i.text)

print(len(brand1),len(review1),len(price1))

50 50 50

In [313]:
nxtpage=driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[3]/a')
nxtpage.click()

In [314]:

brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
brand2=[]
for i in brand:
    brand2.append(i.text)


price=driver.find_elements_by_xpath('//div[@class="product-price"]')
price2=[]
for i in price:
    price2.append(i.text)


review=driver.find_elements_by_xpath('//h4[@class="product-product"]')

review2=[]
for i in review:
    
    review2.append(i.text)

print(len(brand2),len(review2),len(price))

50 50 50

In [315]:
nxtpage=driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[5]/a')
nxtpage.click()

In [316]:

brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
brand3=[]
for i in brand:
    brand3.append(i.text)


price=driver.find_elements_by_xpath('//div[@class="product-price"]')
price3=[]
for i in price:
    price3.append(i.text)


review=driver.find_elements_by_xpath('//h4[@class="product-product"]')

review3=[]
for i in review:
    
    review3.append(i.text)

print(len(brand3),len(review3),len(price3))

50 50 50

In [317]:
Brand=brand1+brand2+brand3
Review=review1+review2+review3
Price=price1+price2+price3

In [318]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Review']=Review
df['Price']=Price
df.head(100)

,Brand,Review,Price
0,Puma,Men BlackTraining or Gym Shoes,Rs. 6999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Geox,Men Solid Sneakers,Rs. 9999
3,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
4,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
...,...,...,...
95,Ruosh,Men Solid Leather Formal Monks,Rs. 8990
96,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)
97,PUMA Motorsport,Unisex Mercedes F1 Sneakers,Rs. 7999
98,Puma,Unisex Pacer Future Sneakers,Rs. 6999
99,Puma,Unisex Mirage Sport Trainers,Rs. 8999

# Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [327]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.amazon.in/'
driver.get(url)

In [328]:
search_field=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_field

In [329]:
search_field.send_keys('Laptop')

In [330]:
btn=driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
btn.click()

In [331]:
fltr_i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
fltr_i7.click()

In [357]:

title=driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
title1=[]
for i in title:
    title1.append(i.text)
title1=title1[:-17]

print(len(title1))

print(title1)

10
['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX', 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS', 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF', 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN', 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T', 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)', 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993', 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN', 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN', 'Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7-11370H 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Windows 10/NVIDIA RTX 3050 4GB/120Hz Refresh Display/Shadow Black/2.25Kg), 82K1004EIN']

In [355]:
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price1=[]
for i in price:
    price1.append(i.text)
price1=price1[:-14]

print(len(price1))
price1

10

['1,23,350',
 '95,990',
 '57,990',
 '77,990',
 '85,990',
 '92,990',
 '1,07,990',
 '98,500',
 '74,990',
 '84,990']

In [361]:
rating=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')

In [364]:
rating1=[]
for i in rating:
    
    rating1.append(i.text)
rating1=rating1[:-19]
print(len(rating1))

print(rating1)

10
['', '', '', '', '', '', '', '', '', '']

In [365]:
print(len(title1),len(price1),len(rating1))

10 10 10

in rating element no text is extracted from the web elements try almost every element from the web page

In [366]:
df=pd.DataFrame({})
df['Title']=title1
df['Rating']=rating1
df['Price']=price1
df

                                               Title Rating     Price
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...         1,23,350
1  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...           95,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...           57,990
3  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....           77,990
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...           85,990
5  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...           92,990
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....         1,07,990
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...           98,500
8  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...           74,990
9  Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7...           84,990